<div class="col-sm-6 col-sm-offset-2">
    <h3>Login</h3>
    <form action="/login" method="post">
        <div class="form-group">
            <label for="username">username</label>
            <input type="text" class="form-control" name="username" id="username" placeholder="sara@fakemail.com">
        </div>

        <div class="form-group">
            <label for="password">password</label>
            <input type="password" name="password" class="form-control" id="password" placeholder="password">
        </div>

        <button type="submit" class="btn">Login</button>
    </form>
</div>